anndata==0.10.5.post1
bump2version>=1.0.1
coverage>=7.2.2
h5py==3.10.0
igraph==0.10.8
louvain==0.8.1
# Keeping matplotlib at 3.7.3 because matplotlib 3.8 breaks seaborn < v0.13 heatmaps in plot_confusion_matrix()
# (https://github.com/mwaskom/seaborn/issues/3478)
matplotlib==3.7.3
numpy==1.26.4
pandas==2.2.1
pip>=21.1.1
pre-commit>=2.15.0
pytest-cov>=4.0.0
pytest-mpl==0.11
pytest-runner>=5.1
pytest>=7.0.0
recommonmark>=0.7.1
requests>=2.26.0
ruff>=0.2.2
scanpy==1.9.8
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
sphinx>=6
syrupy>=2.3.1
wheel>=0.33.6
