anndata==0.7.1
bump2version==0.5.11
coverage==4.5.4
flake8==3.7.8
h5py==2.10.0
louvain==0.6.1
matplotlib==3.2.1
numpy==1.18.3
pandas==1.0.3
pip==19.2.3
pre-commit>=2.3.0
pytest==4.6.5
pytest-mpl==0.11
pytest-runner==5.1
python-igraph==0.8.0
recommonmark>=0.6.0
scanpy==1.4.6
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
Sphinx==1.8.5
tox==3.14.0
twine==1.14.0
watchdog==0.9.0
wheel==0.33.6
